<?xml version="1.0"?>

<model>
  <name version="1.4">Apoyo cables</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>Jaime Burgos</name>
    <email>jaimeburgossanchez@gmail.com</email>
  </author>

  <description>
    Bifurcador para poner dos cables en un solo aislador.
  </description>
</model>