<?xml version="1.0"?>

<model>
  <name version="1.4">Tren</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>Jaime Burgos</name>
    <email>jaimeburgossanchez@gmail.com</email>
  </author>

  <description>
    Tren con dos carritos y una plataforma en medio.
  </description>
</model>