<?xml version="1.0" ?>
<model>
    <name>Carrito</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Jaime Burgos</name>
    	<email>jaimeburgossanchez@gmail.com</email>
    </author>
    <description>Carro aislado que formará parte del tren.</description>
</model>
