<?xml version="1.0"?>

<model>
  <name version="1.4">Torre</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>Jaime Burgos</name>
    <email>jaimeburgossanchez@gmail.com</email>
  </author>

  <description>
    Torre con los aisladores colocados hacia abajo, como suelen estar en las torres primera y última.
  </description>
</model>